.add-todo-wrapper {
   display: flex;
   flex-direction: row;
   padding-bottom: 15px;
   border-bottom: 2px solid rgb(143, 69, 69);
}

.button-add-todo {
   width: 40px;
   height: 40px;
   border-radius: 5px;
   margin-left: 20px;
   font-size: 24px;
   background-color: rgb(143, 69, 69);
   border: 1px solid rgb(143, 69, 69);
}

.add-input {
   display: flex;
   width: 700px;
   height: 40px;
   padding-left: 10px;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   margin-left: 10px;
   color: rgb(143, 69, 69);
   font-size: 16px;
   font-weight: 500;
   background-color: transparent;
   border: 1px solid rgb(143, 69, 69);
   box-shadow: 0px 0px 5px 1px rgb(143, 69, 69);
}

.add-input::placeholder {
   color: rgb(143, 69, 69);
 }